.content {
  padding: 2rem 2rem;
  width: 100%;
}

.box {
  margin-top: 2rem;
  background-color: #b4dfe552;
}

.organize-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.organize-form button {
  min-width: 15rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: x-large;
  font-weight: bolder;
}

.organize-email {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.organize-inputs {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}
.organize-inputs label {
  padding-left: 1rem;
  font-size: x-large;
  font-weight: bolder;
}

.organize-inputs textarea {
  min-height: 20rem;
  min-width: 50rem;
  border-radius: 16px;
  padding: 1rem;
  width: auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
}

.organize-inputs input:focus,
.organize-inputs textarea:focus {
  outline: none;
  border: 2px #f4976c solid;
}

.name {
  min-width: 50rem;
}

.email {
  min-width: 24rem;
}

.subject {
  min-width: 50rem;
}
