.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  background-color: #b4dfe5;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 55rem;
  padding: 1.5rem 2rem;
}

.text p {
  font-size: large;
  text-align: left;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 70%;
  height: 70%;
  border-radius: 20rem;
  margin-right: 5rem;
}
