.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 7rem);
}

.box {
  background-color: #b4dfe5;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 55rem;
  padding: 1.5rem 2rem;
  min-height: 15rem;
  max-height: 25rem;
  flex: 1;
}

.text p {
  font-size: large;
  text-align: left;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 40%;
  height: 40%;
  border-radius: 20rem;
  margin-right: 5rem;
}
