.Content-Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Top {
  display: flex;
  width: 100%;
  height: 60vh;
  background-color: rgb(166, 164, 164);
  align-items: center;
  justify-content: center;
}

.Bottom {
  display: flex;
  width: 100%;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.ContentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.Image {
  width: 15rem;
  height: 20rem;
}
