.nav-link {
  text-decoration: none;
  font: inherit;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border: 1px solid #bfc3c500;
  background-color: #00a5f700;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.nav-box {
  display: flex;
  flex-direction: row;
  opacity: 0.8;

  width: 100%;
  min-height: 3rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-box ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-box li {
  list-style: none;
}

.nav-box p {
  margin: 0 1rem;
  font-size: 40px;
  font-weight: 500;
}

.NavBox-Bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(43, 118, 220);
  width: 100%;
  height: 100%;
}

.NavLinkBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  height: 100%;
  padding: 0 1rem;
}

.text {
  color: white;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3rem;
  padding: 0 1rem;
  margin: 0;
}

.icon {
  cursor: pointer;
}

.small {
  display: none;
}

.Hamburger {
  display: none;
}
/*
@media screen and (max-width: 940px) {
  .small {
    display: flex;
    z-index: 2;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -100vh;
    left: 0;
    justify-content: space-between;
    background-color: rgba(40, 40, 40, 0.891);
    transition: 0.3s;
  }

  .active {
    top: 55px;
  }

  .small-menu {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .NavLinkBox {
    display: none;
  }

  .Hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  .Hamburger .icon:hover {
    transform: scale(1.5);
    transition: 0.3s;
  }
}
*/
