body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

* button {
  border-radius: 16px;
  padding: 1rem;
  width: auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border-style: none;
  box-sizing: border-box;
  font-size: larger;
  text-align: center;
  transition: all 0.2s;
  background-color: #f4976c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* button:hover,
button:active {
  background-color: #fbe8a6;
}
